*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    background-color: cadetblue;
}
.main{
    width: 60%;
    height: 100%;
    background-color: brown;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search{
    display: flex;
    gap: 10px;
}
input{
    width: 30rem;
    padding: 5px;
}